@model Lykke.Pay.Invoice.Models.InvoiceResult

@functions {
    private double RoundDouble(double modelAmount)
    {
        return Math.Round(modelAmount, 8);
    }

}
@{
    ViewData["Title"] = "Invoices";
}
<article class="content">
    <div class="container">
        <div class="invoice">
            <div class="invoice__top">
                <div class="invoice__title">Invoice #@Model.InvoiceNumber</div>
                <div class="invoice__subtitle">@Model.ClientName</div>
            </div>
            <div class="invoice__body">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-6 state--pr0-sm">
                        <div class="invoice__qr">
                            <img src="@Model.QRCode" alt="">
                        </div>
                        <div class="invoice__row">
                            <div class="invoice__remain">
                                <div class="invoice__remain-load ">
                                    <div class="invoice__remain-loading loader"> </div>
                                    @*<div class="spinner_container">
                                        <div class="spinner"><div class="spinner__inside"></div></div>
                                    </div>*@
                                </div>
                                <span class="invoice__remain-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-6">
                        <div class="invoice__payment">
                            @RoundDouble(Model.Amount) BTC
                            <div class="invoice__info"> for payment </div>
                        </div>
                        <div class="invoice__original">
                            @Model.OrigAmount @Model.Currency
                            <div class="invoice__info"> original </div>
                        </div>
                        <div class="invoice__description">
                            <div class="invoice__label">Waiting for payment </div>
                            <div class="invoice__value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


@section Scripts
{
    <script type="text/javascript">
        $.invoiceTimeRefresh = @ViewBag.invoiceTimeRefresh;
        $.invoiceTimeDueDate = '@ViewBag.invoiceTimeDueDate';
        $.walletAddress = '@ViewBag.address';
        $.invoiceId = '@ViewBag.invoiceId';
        $.updateOrderUrl = '@Url.Action("Regenerate")';
    </script>
    <script src='/js/invoice.js' type="text/javascript"></script>
}
