@using Lykke.Service.PayInvoicePortal.Controllers
@using Lykke.Service.PayInvoicePortal.Controllers.User

<div class="header_nav_container" data-path="@Context.Request.Path">
    <nav class="header_nav">
        <div class="header_nav__inner">
            <div class="container header_menu_container">
                <ul class="header_nav__list nav_list">
                    <li class="nav_list__item @GetCurrentPathClass(Url.Action(nameof(PaymentsController.Payments), "Payments"))">
                        <a href="@Url.Action(nameof(PaymentsController.Payments), "Payments")">
                            Payments
                        </a>
                    </li>
                    <li class="nav_list__item @GetCurrentPathClass(Url.Action(nameof(SettingsController.Settings), "Settings"))">
                        <a href="@Url.Action(nameof(SettingsController.Settings), "Settings")">
                            Settings
                        </a>
                    </li>
                    <li class="nav_list__item @GetCurrentPathClass(Url.Action(nameof(PublicApiDocsController.PublicApiDocsAsync), "PublicApiDocs"))">
                        <a href="@Url.Action(nameof(PublicApiDocsController.PublicApiDocsAsync), "PublicApiDocs")">
                            Documentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@functions
{
    private string GetCurrentPathClass(string path)
    {
        var isCurrentPath = Context.Request.Path.ToString() == path;

        return isCurrentPath ? "nav_list__item--active" : string.Empty;
    }
}
