@using Lykke.Pay.Invoice.AppCode
@using System.Web
@using Lykke.Pay.Common
@model Lykke.Pay.Invoice.Models.InvoiceDetailModel
@{
    ViewData["Title"] = "Invoice Detail";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery-confirm.css" />
<article class="">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "createform", id = "createform" }))
    {
        <div class="container-full">
            <div class="invoice_paid">
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" name="button" class="invoice_paid__back"></button>
                    </div>
                    <div class="col-xs-10">
                        <div class="invoice_paid__top">
                            <div class="row">
                                <div class="col-xs-7">
                                    <div class="invoice_paid__title">Invoice #@Model.Data.InvoiceNumber</div>
                                    @if (Model.Data.Status == InvoiceStatus.Unpaid.ToString())
                                    {
                                        <a href="@Model.InvoiceUrl" class="invoice_paid__link">@Model.InvoiceUrl</a>
                                        <a href="#" type="button" name="button" class="create__item-copy" style="position: relative" >
                                            <i class="icon icon--copy"></i>
                                        </a>
                                    }
                                </div>
                                @if (Model.Data.Status == InvoiceStatus.Unpaid.ToString())
                                {
                                    <div class="col-xs-5">
                                        <div class="invoice_paid__qr">
                                            <img src="@Model.QRCode" alt="">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="invoice_paid__table">
                            <div class="invoice_paid__row">
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Invoice number</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        @*<input type="text" id="InvoiceNumber" value="@Model.Data.InvoiceNumber" required placeholder="" class="form-control">*@
                                        <input type="text" asp-for="Data.InvoiceNumber" required placeholder="" class="form-control  noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.InvoiceNumber</div>
                                    }
                                </div>
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Amount</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        @*<input type="text" id="Amount" value="@Model.Data.Amount" required placeholder="" class="form-control">*@
                                        <input type="number" asp-for="Data.Amount" required placeholder="0.00" min="0.01" step="0.01" class="form-control noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.Amount</div>
                                    }
                                </div>
                            </div>
                            <div class="invoice_paid__row">
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Date</div>
                                    <div class="invoice_paid__desc" id="Data_StartDate">@Model.Data.StartDate</div>
                                </div>
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Currency</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        @*<input type="text" id="Currency" value="@Model.Data.Currency" required placeholder="" class="form-control">*@
                                        <input type="text" asp-for="Data.Currency" required placeholder="" class="form-control noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.Currency</div>
                                    }
                                </div>
                            </div>
                            <div class="invoice_paid__row">
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Client</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        @*<input type="text" id="ClientName" value="@Model.Data.ClientName" required placeholder="" class="form-control">*@
                                        <input type="text" asp-for="Data.ClientName" required placeholder="" class="form-control noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.ClientName</div>
                                    }
                                </div>
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Status</div>
                                    <div class="invoice_paid__desc">@Model.Data.Status</div>
                                </div>
                            </div>
                            <div class="invoice_paid__row">
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Email of the client</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        @*<input type="text" id="ClientName" value="@Model.Data.ClientEmail" required placeholder="" class="form-control">*@
                                        <input type="text" asp-for="Data.ClientEmail" required placeholder="" class="form-control noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.ClientEmail</div>
                                    }
                                </div>
                                <div class="invoice_paid__cell">
                                    <div class="invoice_paid__name">Pay due date</div>
                                    @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                                    {
                                        <input type="text" asp-for="Data.DueDate" required placeholder="" class="form-control noborder">
                                    }
                                    else
                                    {
                                        <div class="invoice_paid__desc">@Model.Data.DueDate</div>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString())
                        {
                            <input type="hidden" asp-for="Data.InvoiceId" class="form-control">
                            <input type="hidden" asp-for="Data.Status" class="form-control">
                            <input type="hidden" asp-for="Data.StartDate" class="form-control">
                            <input type="hidden" asp-for="Data.DueDate" class="form-control">
                            <input type="hidden" asp-for="Data.WalletAddress" class="form-control">
                            <input type="hidden" asp-for="Data.ClientUserId" class="form-control">
                            <input type="hidden" asp-for="Data.ClientId" class="form-control">
                            <button type="submit" name="button" class="btn invoice_paid__button" id="generatebtn">Generate</button>
                            <button type="submit" name="button" class="btn invoice_paid__button btn--stroke" id="draftbtn">Save draft</button>
                        }
                        @if (string.IsNullOrEmpty(Model.Data.Status) || Model.Data.Status == InvoiceStatus.Draft.ToString() || Model.Data.Status == InvoiceStatus.Unpaid.ToString())
                        {
                            <button type="button" name="button" class="btn btn--default invoice_paid__button" id="deletebtn">Delete Invoice</button>
                        }
                        @if (Model.Data.Status == InvoiceStatus.Paid.ToString())
                        {
                            <a href="https://private-bcn-explorer-test.lykkex.net/address/@Model.Data.WalletAddress" class="invoice_paid__bottom">Blockchain Settlement</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</article>
@section Scripts
{
    <script type="text/javascript" src="~/js/vendor/jquery-confirm.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/invoicedetail.js" type="text/javascript"></script>
}