@using Lykke.Service.PayInvoice.Client.Models.Invoice
@model Lykke.Service.PayInvoicePortal.Models.Invoice.InvoiceViewModel
@{
    ViewData["Title"] = "Invoices";
}
<link rel="stylesheet" href="/js/vendor/pieloader/jquery-pie-loader.css" />
<article class="content">
    <section class="section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-6 automargin">
                    <div class="invoice_header text-center">
                        <h1 class="page__title">Invoice #@Model.InvoiceNumber</h1>
                        <div class="invoice_header__subtitle">by @Model.ClientName</div>
                    </div>
                    @if (Model.Status == InvoiceStatus.Unpaid)
                    {
                        <div class="invoice_info">
                            <div class="invoice_info__left">
                                <div class="invoice_info__qr">
                                    <img src="@Model.QRCode" alt="qr" width="220" height="220">
                                </div>
                                <div class="invoice_info__loader">
                                    <div class="pie">
                                        <div class="pie_inner">
                                            <div class="pie_half">
                                                <div class="pie_circle-right">
                                                    <div class="pie_blocker-1"></div>
                                                </div>
                                            </div>
                                            <div class="pie_half pie_half-left">
                                                <div class="pie_circle-left">
                                                    <div class="pie_blocker-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="invoice__remain-text"></span>
                                </div>

                                <div class="hint visible-xs"></div>
                            </div>
                            <div class="invoice_info__right">
                                <div class="invoice_info__row">
                                    <div class="invoice_info__value">
                                        @Model.Amount
                                        <div class="invoice_info__select custom_dropdown">
                                            <select class="selectpicker inline_select" data-size="10">
                                                <option value="BTC" selected>BTC</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="invoice_info__title">FOR PAYMENT</span>
                                </div>
                                <div class="invoice_info__row">
                                    <div class="invoice_info__value">@Model.OrigAmount @Model.Currency</div>
                                    <span class="invoice_info__title">Original</span>
                                </div>

                                <hr class="hidden-xs">

                                <div class="hint hidden-xs invoice__value"></div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="invoice_info__right">
                            <div class="invoice_info__row">
                                <div class="invoice_info__value">
                                    @Model.Amount
                                    <div class="invoice_info__select custom_dropdown">
                                        <select class="selectpicker inline_select" data-size="10">
                                            <option value="BTC" selected>BTC</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="invoice_info__title">FOR PAYMENT</span>
                            </div>
                            <div class="invoice_info__row">
                                <div class="invoice_info__value">@Model.OrigAmount @Model.Currency</div>
                                <span class="invoice_info__title">Original</span>
                            </div>
                        </div>
                    }
                    

                    <div class="asset_link_list">
                        <div class="asset_link">
                            <div class="asset_link__action">
                                <button class="btn btn--icon _copy create__item-copy" type="button"><i class="icon icon--copy_thin"></i></button>
                            </div>
                            <div class="asset_link__info">
                                <div class="asset_link__title">Payment address</div>
                                <div class="asset_link__desc invoice_address__link">@Model.WalletAddress</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
@section Scripts
    {
    <script src="/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/js/vendor/clipboard.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="/js/vendor/pieloader/jquery-pie-loader.js"></script>
    <script src='/js/invoice.js' type="text/javascript" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function() {
            $.refreshSeconds = @Model.RefreshSeconds;
            $.invoiceId = '@Model.InvoiceId';
            $.updateStatusUrl = '@Url.Action("Status")';
            $.profilePageUrl = '@Url.Action("Profile", "Home")';
            $.invoiceStatus = '@Model.Status';
            $.needAutoUpdate = @Model.AutoUpdate.ToString().ToLower();

            if ($.invoiceStatus === '@InvoiceStatus.Unpaid.ToString()') {
                $.setUpCountDown();
            }

            if ($.needAutoUpdate) {
                $.setUpUpdateStatus();
            }

            var clipboard = new Clipboard('.create__item-copy', {
                text: function (trigger) {
                    return $('.invoice_address__link')[0].innerHTML;
                }
            });

            clipboard.on('success', function (e) {
                e.trigger.innerHTML = '<i class="icon icon--check_thin"></i> Copied';
                e.clearSelection();
            });
        });
    </script>
}
